/* 
==================================================
Styles for navigation
================================================== 
*/

.pagination {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: fixed;
	left: 983px;
	top: 352px;
}

.pagination__circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.pagination__circle_color_orange {
	background: #ff9933;
}

.pagination__circle_color_white {
	background: white;
}

.indicator__gradient_size_s {
	height: 76px;
	width: 400px;
	background: radial-gradient(ellipse at bottom, #ff9933 20%, rgba(255,255,255,0) 70%);
}

.indicator__gradient_position_s {
	position: fixed;
	left: calc(50% - 400px/2);
	bottom: -15px;
}

.indicator__gradient_size_m {
	height: 56px;
	width: 1000px;
	background: radial-gradient(ellipse at bottom, #ff9933 45%, rgba(255,255,255,0) 60%);
}

.indicator__gradient_position_m {
	position: fixed;
	left: calc(50% - 1000px/2);
	bottom: -20px;
}

.indicator__text {
	font-family: Gotham Pro;
	font-size: 14px;
	color: white;
	letter-spacing: -1px;
}

.indicator__text_position {
	position: fixed;
	left: 470px;
	bottom: 54px;
}

.indicator__shape-next_position {
	position: fixed;
	left: 500px;
	bottom: 18px;
}

/* 
==================================================
Styles for slide one
================================================== 
*/

.slide {
	height: 100vh;
}

.slide_background_one {
	background: url("../images/slide-one/more.png") no-repeat;
	background-size: cover;
}

.title {
	font-family: Gotham Pro Light;
	font-size: 46px;
	white-space: pre-wrap;
	letter-spacing: -2.8px;
	word-spacing: -1px;
	line-height: 60px;
	color: #003399;
}

.title_position_one {
	padding-top: 134px;
	padding-left: 70px;
	margin-bottom: -60px;
}

.peak_position_one {
	position: absolute;
	top: 394px;
	left: 224px;
}

.peak__point_position_one {
	position: absolute;
	top: 32px;
	left: 50px;
}

.peak_position_two {
	position: absolute;
	top: 504px;
	left: 368px;
}

.peak__point_position_two {
	position: absolute;
	top: 34px;
	left: 110px;
}

.peak_position_three {
	position: absolute;
	top: 274px;
	left: 623px;
}

.peak__point_position_three {
	position: absolute;
	top: -12px;
	left: -62px;
}

.peak_position_four {
	position: absolute;
	top: 484px;
	left: 790px;
}

.peak__point_position_four {
	position: absolute;
	top: 32px;
	left: 32px;
}

.peak__title {
	font-family: Lato Regular;
	font-size: 20px;
	color: #003399;
	letter-spacing: 0.2px;
    word-spacing: 2px;
}

/* 
==================================================
Styles for slide two
================================================== 
*/

.slide_background_two {
	background: url("../images/slide-two/more.png") no-repeat;
	background-size: contain;
}

.title_position_two {
	padding-top: 244px;
}

.title_color_white {
	color: white;
}

.title_align_center {
	text-align: center;
}

.title_spasing_two {
	letter-spacing: 1.9px;
	word-spacing: -2px;
}

.title_font_light {
	font-family: Gotham Pro Light;
}

.deep {
	position: absolute;
	top: 768px;
}

.ice {
	position: absolute;
}

.ice_position_1 {
	top: 33px;
	left: 876px;
}

.ice_position_2 {
	top: 584px;
	left: 712px;
}

.ice_position_3 {
	top: 443px;
	left: 231px;
}

.ice_position_4 {
	top: 160px;
	left: 82px;
}